[submodule "nix"]
	path = nix
	url = https://github.com/hawkinsw/nix.git
[submodule "third_party/ipv6toolkit"]
	path = third_party/ipv6toolkit
	url = https://github.com/cerfcast/ipv6toolkit.git
	branch = stamp_extensions
